# Weeks 11 & 12 Exercises

## Data Wrangling with Python: Activity 11, page 320

***Instructions)***

In this activity, we have the *persons* table and the *pets* table.

The **id** column in the persons table (which is an integer) serves as the primary key for that table and as a foreign key for the pet table, which is linked via the **owner_id column**.

The **persons** table has the following columns:

- **first_name:** The first name of the person
- **last_name:** The last name of the person (can be "null")
- **age:** The age of the person
- **city:** The city from where he/she is from
- **zip_code:** The zip code of the city

The **pets** table has the following columns:

- **pet_name:** The name of the pet.
- **pet_type:** What type of pet it is, for example, cat, dog, and so on. Due to a lack of further information, we do not know which number represents what, but it is an integer and can be null.
- **treatment_done:** It is also an integer column, and 0 here represents "No", whereas 1 represents "Yes".

The name of the SQLite DB is **petsdb** and it is supplied along with the Activity notebook.

These steps will help you complete this activity:

1. Connect to petsDB and check whether the connection has been successful.
2. Find the different age groups in the persons database.
3. Find the age group that has the maximum number of people.
4. Find the people who do not have a last name.
5. Find out how many people have more than one pet.
6. Find out how many pets have received treatment.
7. Find out how many pets have received treatment and the type of pet is known.
8. Find out how many pets are from the city called east port.
9. Find out how many pets are from the city called east port and who received a treatment.

### 1 Connect the petsDB and check the connection status

In [1]:
import sqlite3

# connect to the pets db
conn = sqlite3.connect("petsdb")

In [7]:
# function to make sure the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM person LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [8]:
print(is_opened(conn))

True

In [4]:
# used to list out what tables are in the db file
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('persons',), ('pets',)]

### 2. Find the different age groups in the persons database

In [9]:
conn = sqlite3.connect("petsdb")

In [10]:
c = conn.cursor()

In [11]:
# selecting all records from 'age' column and grouping by 'age'
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

### 3. Find the age group that has the maximum number of people.

In [12]:
# counting all within the age column and grouping by age then sorting to descending. break after 1 record is returned.
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

### 4. Find the people who do not have a last name.

In [17]:
for r, last_name in c.execute("SELECT count(*), last_name FROM persons WHERE last_name isnull"):
    print("{} Records have no last name".format(r))

60 Records have no last name

### 5. Find out how many people have more than one pet.

In [35]:
res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")
for row in res:
    print("{} People have more than one pets".format(row[0]))

43 People have more than one pets

### 6. Find out how many pets have received treatment.

In [20]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print(row)

(36,)

### 7. Find out how many pets have received treatment and the type of pet is known.

In [24]:
res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type is not null")
for row in res:
    print(row)

(16,)

### 8. Find out how many pets are from the city called east port.

In [31]:
# SELECT count(*)
# FROM persons as ppl
# JOIN pets as pt 
# ON pt.owner_id = ppl.id
# WHERE ppl.city = 'east port'

res = c.execute("SELECT count(*) FROM persons as ppl JOIN pets as pt ON pt.owner_id = ppl.id WHERE ppl.city = 'east port'")
for row in res:
    print(row)

(49,)

### 9. Find out how many pets are from the city called east port and who received a treatment.

In [34]:
# SELECT count(*)
# FROM persons as ppl
# JOIN pets as pt 
# ON pt.owner_id = ppl.id
# WHERE ppl.city = 'east port'
# AND pt.treatment_done = 1

res = c.execute("SELECT count(*) FROM persons as ppl JOIN pets as pt ON pt.owner_id = ppl.id WHERE ppl.city = 'east port' AND pt.treatment_done = 1")
for row in res:
    print(row)

(11,)